---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    <meta name="description" content="Job Market PhD candidate at Lund University specializing in Market Design and Behavioral Economics.">
    <meta name="keywords" content="Prakriti Thami, PhD candidate, Job Market, Economics, Behavioral Economics, Market Design, Lund University, Research, Academic CV, Job Search, Experimental Economics, Economic Theory, Applied Microeconomics, Academic Job Market, Dissertation, Lund University Economics, data analysis">
    <meta name="robots" content="index, follow">
    {% include head/custom.html %}
</head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
