---
layout: compress
---

{% include base_path %}

<!doctype html>
  <html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
    <head>
    {% include head.html %}
    <meta charset="utf-8">
    <!-- Begin SEO -->
    <title>Prakriti Thami</title>
    <meta name="description" content="Job Market PhD candidate at Lund University specializing in Economics.">
    <meta name="keywords" content="Prakriti Thami, PhD candidate, Job Market, Economics, Behavioral Economics, Market Design, Lund University, Research, Academic CV, Job Search, Experimental Economics, Economic Theory, Applied Microeconomics, Academic Job Market, Dissertation, Lund University Economics">
    <meta name="robots" content="index, follow">
    <meta property="og:locale" content="en-US">
    <meta property="og:site_name" content="Prakriti Thami">
    <meta property="og:title" content="Prakriti Thami">
    <link rel="canonical" href="https://prakritithami.github.io/">
    <meta property="og:url" content="https://prakritithami.github.io/">
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
